{% extends 'default.html'%}
{%load static%}

{%block conteudo%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turistando</title>
    <link rel="stylesheet" href="{%static 'CSS/brasil.css'%}">
</head>
<body>


  <section class="container">
       <<div><img src='{% static "img_br/principal_br.jpg" %}' class="img_principal_br" alt="..."> </div>
    <div> <h1>Pontos Turísticos da Brasil</h1> </div>
  </section>




  <div class="texto_prin">
    <h1>Iremos apresentar aqui, os pontos turísticos mais visitados da Alemanha</h1>
    <p>...</p>
  </div>


  <div>
    <figure class="fotos">
      <div><img src='{% static "img_br/redentor.jpg" %}' class="img_redentor" alt="..."> </div>
      <figcaption>
            <h2>Cristo Redentor</h2><br>
            <p>Situado no topo dos 710 m de altura do Morro do Corcovado, o monumento de 38 m.<br>
            impressiona pela imponência desde sua inauguração, em outubro de 1931.</p>
            <p> Ícone do Rio de Janeiro, o Cristo é, sem dúvidas, um dos mais célebres pontos turísticos do Brasil. E sua fama roda o mundo!</p><br>
      </figcaption>
    </figure>
  </div>


  <div>
    <figure class="fotos">
      <div><img src='{% static "img_br/centro_historico_paraty.jpg" %}' class="img_paraty" alt="..."> </div>
      <figcaption>
        <h2>Centro Histórico de Paraty</h2><br>
        <p>Localizada a apenas 200 km da capital fluminense, a cidade de Paraty é perfeita para os apreciadores de história,<br>
            romance e literatura. O Centro Histórico do município é considerado Patrimônio Nacional pelo IPHAN e “o conjunto arquitetônico colonial mais <br>
            harmonioso” do Brasil pela UNESCO. </p><br>
        <p>Com 33 quarteirões, suas ruas possuem calçamento pé de moleque e igrejas e casarões de arquitetura colonial que complementam o cenário histórico.</p><br>

    </figcaption>
    </figure>
  </div>
  <div>
    <figure class="fotos">
       <div><img src='{% static "img_br/avenida_paulista.jpg" %}' class="img_avenida_paulista" alt="..."> </div>
      <figcaption>
        <h2>Avenida Paulista </h2><br>
        <p> A avenida, um dos pontos turísticos mais queridos de São Paulo e do Brasil.<br>
            é símbolo da capital dos negócios e também um grande polo cultural. </p>
        <p> Ao longo da Avenida Paulista tem muito o que ver e fazer e suas célebres ruas paralelas não ficam atrás. Aos domingos e feriados a via se torna exclusiva para pedestres.</p>
    </figcaption>
    </figure>
  </div>


  <div>
    <figure class="fotos">
       <div><img src='{% static "img_br/ibirapuera.jpg" %}' class="img_ibirapuera" alt="..."> </div>
      <figcaption>
        <h2>Parque do Ibirapuera</h2>
        <p> O mais importante parque urbano de São Paulo, o Ibirapuera é ponto de encontro de amigos e famílias.</p>
        <p> No espaço de quase 1.600 milhão m² de área verde em meio a importantes avenidas da cidade, há atrações para todos os gostos e idades, <br>
            como passeios de bike e skate, jogos de futebol, caminhadas, corridas ou simplesmente um descanso em meio ao verde</p>
        <p> A fauna e flora presentes no ambiente garantem o cenário de tranquilidade, com mais de 160 espécies de animais, além de árvores como ipê, jaqueira e pau-brasil.<br>
            O local é ainda grande centro cultural, reunindo museus, pavilhões, planetário, auditório e exibições de peças de teatros a céu aberto.</p>
    </figcaption>
    </figure>
  </div>


  <div>
    <figure class="fotos">
    <div><img src='{% static "img_br/maragogi.jpg" %}' class="img_maragogi" alt="..."> </div>
      <figcaption>
        <h2>Piscinas naturais de Porto de Galinhas</h2>
        <p>Porto de Galinhas, a praia mais famosa do litoral de Pernambuco</p><br><div class=""></div>
        <p>Em meio às águas cristalinas e esverdeadas, barreiras de recifes e corais formam piscinas naturais cheias de peixinhos coloridos.</p><br>
        <p>As piscinas naturais de Porto de Galinhas estão localizadas na principal praia da Vila de Porto de Galinhas, no município de Ipojuca, em Pernambuco.</p>
    </figcaption>
    </figure>
  </div>



  <div>
    <figure class="fotos">
     <div><img src='{% static "img_br/maranhenses.jpg" %}' class="img_maranhenses" alt="..."> </div>
      <figcaption
        <h2>Lençóis Maranhenses</h2>
        <p>Em Barreirinhas, a cerca de 270 km da capital do Maranhão, São Luís, um cenário mágico encanta viajantes do mundo todo.</p>
        <p>Para quem viaja ao Maranhão é uma atração imperdivel visitar os lençois maranhenses,<br>
            apresentam paisagens incríveis, compostas por quilômetros de dunas de areia com até 40 metros de altura.</p>
        <p>Mas quando chega ao topo de uma duna e se depara com uma lagoa de águas cristalinas, percebe que o lugar é, na verdade, um oásis. </p>
    </figcaption>
    </figure>
  </div>

  <div>
    <figure class="fotos">
      <div><img src='{% static "img_br/botanido.jpg" %}' class="img_botanico" alt="..."> </div>
      <figcaption >
        <h2>Jardim Botânico de Curitiba</h2>
        <p>Um dos principais pontos turísticos do Brasil e cartão-postal de Curitiba, o jardim botânico inaugurado em 1991,<br>
            está instalado em uma área que abrange cerca de 245 mil m², abrigando diversas espécies de plantas típicas da Mata Atlântica</p>
        <p>Com três estufas climatizadas e que remetem ao Palácio de Cristal da Europa do século XIX, o local chama a atenção dos turistas da capital do Paraná. </p>
    </figcaption>
    </figure>
  </div>



  <script>
    function updatemenu() {
      if (document.getElementById('responsive-menu').checked == true) {
      document.getElementById('menu').style.borderBottomRightRadius = '0';
      document.getElementById('menu').style.borderBottomLeftRadius = '0';
      }else{
        document.getElementById('menu').style.borderRadius = '10px';
      }
    }
  </script>
{%endblock%}
</body>
</html>
